/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: #FF9100;
}

.backendInfoText {
	-fx-padding: 10px;
	-fx-font-size: 20px;
}

.title {
	-fx-text-alignment: center;
	-fx-font-size: 25px;
	-fx-font-style: oblique;
}

.button {
	-fx-text-alignment: center;
	-fx-font-size: 20px;
	-fx-background-color: #E65100;
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 5px;
}